---
//Componente para redireccionar a otra pagina de la documentacion
/** Componente para redireccionar a otra pagina de la documentacion */
interface Props {
  /** Titulo para explicar a que seccion va*/
  title: string;
  /** Mensaje explicativo sobre a donde se va*/
  text: string;
  /** 
   * Nombre del tipo de documento al que va
   * @example 
   * getting-started
   */
  destiny: string;
  /** 
   * Nombre de la colleccion que va
   * @example 
   * user
   */
  content: String;
  /** Cambia de direccion a la Card*/
  invert?: boolean;
}
/** Componente para redireccionar a otra pagina de la documentacion */
import { FaArrowLeft, FaArrowRight } from "react-icons/fa";
import { getLangFromUrl } from "../../i18n/utils";
const url = Astro.url;
const lang = getLangFromUrl(url);
const {
  title,
  text = "Enlace",
  destiny = `/${lang}/docs`,
  content,
  invert,
} = Astro.props;
const cardUrl = `/${lang}/docs/${content}/${destiny}`;
let titleNext = "";
let titlePrevius = "";
if (lang === "es") {
  titleNext = "Siguiente";
  titlePrevius = "Anterior";
} else {
  titleNext = "Next";
  titlePrevius = "Previous";
}
---

{
  !invert ? (
    <a
      href={cardUrl}
      class="bg-zinc-300 border-2 border-transparent hover:border-red-500 dark:bg-zinc-900 rounded p-4 group no-underline transition-all"
    >
      <h4 class="text-sm decoration-none no-underline p-1 text-zinc-800 dark:text-zinc-200">
        {title ? title : titleNext}
      </h4>
      <div class="flex items-center gap-x-4 p-1 text-black dark:text-white">
        <p class="no-underline text-lg lg:text-xl">{text}</p>
        <FaArrowRight className="group-hover:translate-x-2 group-hover:fill-red-500 transition-all" />
      </div>
    </a>
  ) : (
    <a
      href={cardUrl}
      class="bg-zinc-300 border-2 border-transparent hover:border-red-500  dark:bg-zinc-900 rounded p-4 group no-underline  transition-all"
    >
      <h4 class="text-sm flex justify-end decoration-none no-underline p-1 text-zinc-800 dark:text-zinc-200 w-full">
        {title ? title : titlePrevius}
      </h4>
      <div class="flex items-center justify-end gap-x-4 p-1 text-black dark:text-white">
        <FaArrowLeft className="group-hover:-translate-x-2 group-hover:fill-red-500 transition-all" />
        <p class="no-underline text-lg lg:text-xl text-end">{text}</p>
      </div>
    </a>
  )
}
