---
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
const url = Astro.url;
const lang = getLangFromUrl(url);
const { path } = Astro.props;
const allPostsEs = await getCollection("dev");
const filterPostEs = allPostsEs.filter((post) => {
  const id = post.id;
  return id.includes(path);
});
const allPostsEn = await getCollection("en");
const filterPostEn = allPostsEn.filter((post) => {
  const id = post.id;
  return id.includes(path);
});
---
{
  lang === "es" ? (
  <nav>
  <ul class="list-none flex flex-col gap-y-4 border-l border-red-200">
    {
      filterPostEs.map((post) => (
        <li>
          <a
            class="font-Kanit text-black dark:text-white font-light no-underline hover:text-zinc-500 transition-colors"
            href={`/${lang}/docs/${post.slug}`}}
          >
            {" "}
            <span class="select-none">{post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
  ) : (
  <nav>
  <ul class="list-none flex flex-col gap-y-4 border-l border-red-200">
    {
      filterPostEn.map((post) => (
        <li>
          <a
            class="font-Kanit text-black dark:text-white font-light no-underline hover:text-zinc-500 transition-colors"
            href={`/${lang}/docs/${post.slug}`}
          >
            {" "}
            <span class="select-none">{post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
  )
}
