---
import Navigation from "../../components/Fundamentales/Navigation.astro";
import Footer from "../../components/Fundamentales/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import CardAcademics from "../../components/sections/CardAcademics.astro";
import AcademicsLink from "../../components/buttons/AcademicsLink";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { supabase } from "../../lib/supabase";
import { FaArrowAltCircleRight } from "react-icons/fa";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { data: levelsData } = await supabase
  .from("levels_en")
  .select("*")
  .order("id", { ascending: true });
---

<Layout title="Academicos" icon="/imgs/UEFPescudoblanco.png">
  <Navigation />
  <main
    class="grid-academics relative w-full h-full bg-zinc-50 dark:bg-zinc-950"
  >
    <aside
      class="fixed lg:sticky bottom-0 lg:top-4 h-max m-2 p-3 font-Kanit bg-zinc-200 rounded-xl dark:bg-zinc-900 shadow-2xl shadow-red-300/50 dark:shadow-red-800/30 z-10"
    >
      <h2 class="text-xl lg:text-3xl font-bold py-1 lg:py-4">Niveles</h2>
      <ul class="flex items-center lg:items-start lg:flex-col gap-4 flex-wrap">
        {
          levelsData?.map((link) => {
            return (
              <li>
                <AcademicsLink
                  id={link.id}
                  url={`/${lang}/academics#${link.id}`}
                  text={link.title}
                  content={link.id}
                >
                  <FaArrowAltCircleRight />
                </AcademicsLink>
              </li>
            );
          })
        }
      </ul>
    </aside>
    <div class="border-l-2 border-zinc-200/50 dark:border-zinc-950/50">
      <section class={`hero h-[85vh] w-full flex items-center`}>
        <div
          class="font-Rubik py-4 md:px-3 lg:px-12 backdrop-blur flex flex-col sm:block container mx-auto dark:text-white text-white"
        >
          <h1
            class="animate-pulsing z-20 text-5xl md:text-7xl lg:text-9xl text-center md:text-start font-extrabold"
          >
            {t("academics-title-hero")}
          </h1>
          <p
            class="text-zinc-200 animate-blurred-fade-in font-light text-base md:text-xl py-4 w-full lg:w-2/3 text-center md:text-start px-2 sm:px-0"
          >
            {t("academics-text-hero")}
          </p>
          <span class="px-2 sm:p-0 text-red-500">Academy offers in:</span>
          <ul class="flex gap-2 mt-2 flex-wrap px-2 sm:p-0">
            {
              levelsData?.map((data) => {
                return (
                  <li class="border-1 shadow-2xl px-2 py-1 rounded-full border-zinc-500 text-zinc-200 font-light">
                    {data.title}
                  </li>
                );
              })
            }
          </ul>
        </div>
      </section>
      <section class="h-max bg-zinc-100 dark:bg-zinc-800 container mx-auto">
        {
          levelsData?.map((levels) => {
            return (
              <CardAcademics
                id={levels.id}
                title={levels.title}
                img={levels.img}
                content={levels.content}
              />
            );
          })
        }
      </section>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .hero {
    background: linear-gradient(90deg, #000, #0005), url("/imgs/study.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-academics {
    display: grid;
    grid-template-columns: 200px 1fr;
    scrollbar-color: #555;
    scrollbar-width: thin;
  }
  @media (max-width: 1024px) {
    .grid-academics {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
