---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Fundamentales/Header.astro";
import CardInfo from "../../components/Cards/CardInfo.astro";
import VideoPlayer from "../../components/Utils/VideoPlayer.astro";
import IndexMeta from "./../../meta/IndexMeta.astro";
import Footer from "../../components/Fundamentales/Footer.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Diamond } from "../../icons/Icons";
import CardWithLink from "../../components/Cards/CardWithLink.astro";
import { FaEnvelope, FaGraduationCap, FaUser } from "react-icons/fa";
import { supabase } from "../../lib/supabase";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { data: cardInitial } = await supabase.from("card_homeEn").select("*");
console.log(cardInitial);
const { data: cardSections } = await supabase
  .from("sectionsEn")
  .select("*")
  .order("id");
console.log(cardSections);
---

<Layout
  title="Official Page of Fiscal Pichincha Educational Unit"
  keywords="fiscal pichincha educational unit, Fiscal Pichincha Educational Unit, official page, education, UEFP"
  description="Homepage of Fiscal Pichincha Educational Unit"
  icon="/imgs/UEFPescudoblanco.png"
>
  <Header />
  <IndexMeta slot="opengraph" />
  <main
    class="h-full w-full bg-zinc-50 dark:bg-zinc-900 grid place-content-center gap-y-4"
  >
    <section class="bg-transparent w-full h-full">
      <h2
        class="text-black font-bold mt-4 dark:text-zinc-100 text-center text-4xl md:text-5xl py-2 font-Rubik"
      >
        {t("main-mision-vision")}
      </h2>
      <div
        class="h-1 mx-auto w-full lg:w-2/3 bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4 shadow shadow-orange-500/50"
      >
      </div>
      {
        cardInitial?.map((item) => (
          <CardInfo
            img={item.img_url}
            title={item.title}
            text={item.content}
            alt={item.img_alt}
          >
            <Diamond height={"16px"} width={"16px"} />
          </CardInfo>
        ))
      }
    </section>
    <section class="container mx-auto grid place-content-center w-full my-4">
      <h2
        class="text-black font-bold dark:text-zinc-100 text-center text-5xl py-2 font-Rubik"
      >
        {t("main-presentacion")}
      </h2>
      <div
        class="h-1 w-full bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4"
      >
      </div>
      <VideoPlayer url="/videos/test.mp4" />
    </section>
    <section class="h-full">
      <h2
        class="text-black font-bold mt-4 dark:text-zinc-100 text-center text-4xl md:text-5xl py-2 font-Rubik"
      >
        {t("main-others-seccions")}
      </h2>
      <div
        class="h-1 mx-auto w-full lg:w-2/3 bg-gradient-to-l from-red-500 via-orange-500 to-yellow-500 mb-4 shadow shadow-orange-500/50"
      >
      </div>
      <div class="flex flex-wrap p-4 gap-4 container mx-auto">
        {
          cardSections?.map((item) => (
            <CardWithLink
              title={item.title}
              to={item.to}
              content={item.content}
            />
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
