---
const {title = "Titulo",img,content = "Aqui va contenido",color,id} = Astro.props
---

<div class="p-4" id={id}>
    <h2 class="px-4 title text-3xl font-Kanit">{title}</h2>
    <div class={`mx-4 h-1 rounded-full w-1/2 my-2 ${color}`}></div>
    <div class="grid grid-col-1 lg:grid-cols-2">
        <div class="p-4 h-full w-full flex items-center justify-center revealImg">
            <img src={img} alt="" class="aspect-video h-full w-full object-cover border shadow-xl bg-zinc-900">
        </div>
        <div class="p-4 flex flex-col items-center justify-center">
            <p class="text font-Kanit text-lg md:text-xl">{content}</p>
        </div>
    </div>
</div>
<script>
    import ScrollReveal from 'scrollreveal'
    ScrollReveal().reveal(".title", {
        opacity: 0,
        origin: "bottom",
        distance: "100px",
        reset: true,
        duration: 500,
      })
    ScrollReveal().reveal(".text", {
        opacity: 0,
        origin: "left",
        distance: "200px",
        reset: false,
        duration: 1000,
      })
    ScrollReveal().reveal(".revealImg", {
        opacity: 0,
        origin: "right",
        distance: "200px",
        reset: false,
        duration: 500,
        easing: 'ease-out',
      })
</script>