---
import ThemeIcon from "../../../components/ChangeUI/ThemeIcon.astro";
import NavDashboard from "../../../components/dashboard/NavDashboard";
import MainDashboard from "../../../components/dashboard/MainDashboard";
import DashBoardBase from "../../../layouts/DashBoardBase.astro";
import { supabase } from "../../../lib/supabase";
import AcademicsChange from "../../../components/dashboard/academics/AcademicsChange";
import CardAcademics from "../../../components/sections/CardAcademics.astro";
const { cookies, redirect } = Astro;
const url = Astro.url;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/es/signin");
}
const { data: datanew, error: errornew } = await supabase
  .from("pages")
  .select("*");
const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/es/signin");
}
const { data: userData } = await supabase
  .from("profiles")
  .select("*")
  .eq("id", data.user?.id);
const roles: string[] = (userData && userData[0]?.roles) || [];
const { data: academicsData } = await supabase
  .from("levels_es")
  .select("*")
  .order("id", { ascending: true });
console.log(data);
const pathname = Astro.url.pathname
---

<!-- <ThemeIcon/> -->
<DashBoardBase title="Dashboard | Panel de control" icon="">
  <main class="dashboard">
    <div
      class="bg-zinc-200 dark:bg-zinc-900 h-full w-full [grid-area:aside] boxshadow"
    >
      <NavDashboard url={url} pathname={pathname} client:load={true}>
        <ThemeIcon />
      </NavDashboard>
    </div>
    <div
      class="p-4 bg-zinc-50 overflow-y-auto bg-gradient-to-b dark:from-black/90 dark:to-zinc-800 w-full h-full [grid-area:main] font-Kanit"
    >
      <section class="p-4">
        <h1 class="text-3xl my-2 md:text-5xl font-Rubik font-bold">
          Pagina de academicos
        </h1>
        <div
          class="h-1 rounded bg-gradient-to-l from-red-500 to-orange-500 my-1"
        >
        </div>
        <p>
          Agrega, edita o elimina las ofertas academicas de la Unidad Educativa
          Fiscal Pichincha
        </p>
      </section>
      <section>
        <h2 class="p-4 font-bold text-xl">Ofertas:</h2>
        {
          roles.includes("admin") ? (
            <AcademicsChange table="levels_es" client:load />
          ) : (
            <>
              {academicsData?.map((item) => {
                return (
                  <CardAcademics
                    id={item.id}
                    title={item.title}
                    img={item.img}
                    content={item.content}
                    client:load
                  />
                );
              })}
            </>
          )
        }
      </section>
    </div>
  </main>
</DashBoardBase>
<style>
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "aside main";
  }
  @media (max-width: 1024px) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 96px 1fr;
      grid-template-areas:
        "aside"
        "main";
    }
  }
  .boxshadow {
    box-shadow: 0px -20px 10px black;
  }
</style>
