---
import ThemeIcon from "../../../components/ChangeUI/ThemeIcon.astro";
import NavDashboard from "../../../components/dashboard/NavDashboard";
import MainDashboard from "../../../components/dashboard/MainDashboard";
import DashBoardBase from "../../../layouts/DashBoardBase.astro";
import { supabase } from "../../../lib/supabase";
const { cookies, redirect } = Astro;
const url = Astro.url
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/es/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
  
  return redirect("/es/signin");
}
const userData = data?.user?.user_metadata;
const user = data?.user
const email = userData?.username
const pathname = Astro.url.pathname
---

<!-- <ThemeIcon/> -->
<DashBoardBase title="Panel de control | Pagina principal" >
  <main class="dashboard">
    <div
      class="bg-zinc-200 dark:bg-zinc-900 h-full w-full [grid-area:aside]"
    >
      <NavDashboard url={url} pathname={pathname} client:load={true}>
        <ThemeIcon/>
      </NavDashboard>
    </div>
    <section class="p-4">
      <div
      class="p-4 rounded-lg bg-zinc-50 overflow-y-auto dark:bg-zinc-800 w-full h-full [grid-area:main] font-Kanit"
    >
      <MainDashboard user={user} email={email} url={url} client:load />
    </div>
    </section>
  </main>
</DashBoardBase>
<style>
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "aside main";
  }
  @media (max-width: 1024px) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 96px 1fr;
      grid-template-areas:
        "aside"
        "main";
    }
  }
</style>
