---
import ThemeIcon from "../../../components/ChangeUI/ThemeIcon.astro";
import InputUpdateSettings from "../../../components/dashboard/InputUpdateSettings";
import CardUpdateSettings from "../../../components/dashboard/CardUpdateSettings.astro";
import NavDashboard from "../../../components/dashboard/NavDashboard";
import DashBoardBase from "../../../layouts/DashBoardBase.astro";
import { supabase } from "../../../lib/supabase";
import ChangeAvatar from "../../../components/dashboard/settings/ChangeAvatar";
import AddRoles from "../../../components/dashboard/settings/AddRoles";
const url = Astro.url;
const { cookies, redirect } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/es/signin");
}
const { data: dataUser, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/es/signin");
}
const { user } = dataUser;
const pathname = Astro.url.pathname;
const { data: userData } = await supabase
  .from("profiles")
  .select("*")
  .eq("id", user?.id);
const profileData = userData ? userData[0] : userData;
const roles: string[] = (userData && userData[0]?.roles) || [];
---

<DashBoardBase
  title="Configura tu perfil aqui | Panel de control"
>
  <main class="dashboard bg-zinc-800">
    <div
      class="bg-zinc-200 dark:bg-zinc-900 h-full w-full [grid-area:aside] boxshadow"
    >
      <NavDashboard url={url} pathname={pathname} client:load={true}>
        <ThemeIcon />
      </NavDashboard>
    </div>
    <div class="bg-zinc-100 dark:bg-neutral-900 font-Rubik overflow-y-auto">
      <section class="flex flex-col items-center justify-center gap-2">
        <h1 class="text-3xl my-4 md:text-4xl font-bold">Configuracion</h1>
        <div></div>
        <p>
          Perzonaliza tu cuenta, asi como modificar tu usuario, foto de perfil,
          etc
        </p>
      </section>
      <h2 class="text-2xl md:text-3xl font-bold my-2 px-4">
        Portal de usuario
      </h2>
      <section class="grid grid-cols-1 lg:grid-cols-2">
        <ChangeAvatar user={user} client:load />
      </section>
      <section class="grid grid-cols-2 p-4 font-Kanit">
        <div class="border-r border-zinc-500 flex flex-col gap-y-4">
          <CardUpdateSettings
            title="Cambia tu nombre de usuario"
            now={profileData.username}
          />
        </div>
        <div class="p-4">
          <form class="flex flex-col gap-4">
            <InputUpdateSettings
              type="username"
              idUser={profileData.id}
              client:load
            />
          </form>
        </div>
      </section>
      {
        roles.includes("admin") && (
          <>
            <h2 class="text-2xl md:text-3xl font-bold my-2 px-4">
              Portal de Admin
            </h2>
            <div class="container mx-auto px-4 my-4 grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-4 w-full">
              <span>Foto de perfil</span>
              <span>Nombre de usuario</span>
              <span>Correo</span>
              <span>Roles</span>
            </div>
            <section class="container mx-auto px-4 flex flex-col gap-2">
              <AddRoles client:load />
            </section>
          </>
        )
      }
    </div>
  </main>
</DashBoardBase>
<script>
  const username = document.getElementById("");
</script>
<style>
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "aside main";
  }
  @media (max-width: 1024px) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 96px 1fr;
      grid-template-areas:
        "aside"
        "main";
    }
  }
</style>
