---
import { getCollection } from "astro:content";
import DocsLayout from "../../../layouts/DocsLayout.astro";
export const prerender = true;
export async function getStaticPaths() {
  const allPosts = await getCollection("en");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<DocsLayout pageTitle={tag}>
  <h1 class="no-underline font-normal">
    Artículos con la etiqueta: <span class="font-bold">{tag}</span>
  </h1>
  <section class="grid md:grid-cols-1 lg:grid-cols-2 gap-2">
    {
      posts.map((post) => {
        (post);
        return (
          <div class="group border border-zinc-900 hover:bg-zinc-200 dark:bg-zinc-900 p-2 h-full dark:hover:bg-zinc-900/50 relative transition-all">
            
            <a
              class="font-Kanit font-light no-underline"
              href={`/en/docs/${post.slug}`}
            >
              <img 
              src={post.data.image.url} 
              class="object-cover h-56 w-[50%] bg-red-500" 
              transition:name={`imagen-${post.data.image.url}`}
              transition:animate="none"
              >
              <i class="text-xs text-zinc-500">{post.data.pubDate}</i>
              <h6 class="h-max no-underline text-black dark:text-white">{post.data.title}</h6>
              <p class="text-sm text-black dark:text-white">{post.data.description}</p>
            </a>
          </div>
        );
      })
    }
  </section>
</DocsLayout>
