---
import CardInfo from "../../components/Cards/CardInfo.astro";
import Navigation from "../../components/Fundamentales/Navigation.astro";
import Layout from "../../layouts/Layout.astro";
import SelectOption from "../../components/Others/SelectOption";
import Objectives from "../../components/sections/Objectives.astro";
import { FaPen, FaStar } from "react-icons/fa6";
import Footer from "../../components/Fundamentales/Footer.astro";
import { Wave, IlustrationPerson } from "../../icons/Icons";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import InfoTeacher from "../../components/sections/InfoTeacher";
import { supabase } from "../../lib/supabase";
import LikePage from "../../components/Utils/LikePage.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const xd = Astro.url
const {data: historyData} = await supabase.from("historyes").select("*").order("id", {ascending: true})
console.log(historyData);

const {data: objetivesData} = await supabase.from("objetives_es").select("*").order("id", {ascending: true})
---

<Layout
  title="Conoce nuestro personal | Informacion inportante"
  description="Descubre y conoce al personal calificado dedicado a brindar educación de calidad"
  keywords="Sobre nosotros, Nuestro Equipo, Preparar estudiantes"
  icon="/imgs/UEFPescudoblanco.png"
  openGraph={{
    basic: {
      image: "https://i.postimg.cc/9Fvf3TFk/4.png",
      type: "website",
      title: "Imagen de la UEFP sobre nosotros",
      url: "https://unidad-educativa-fiscal-pichincha.vercel.app/es/about"
    }
  }}
>
  <Navigation />
  <main class="h-full bg-zinc-400 dark:bg-zinc-900">
    <section class="relative top-0 h-max lg:h-[80vh]">
      <div class="absolute w-full bottom-0 h-max flex items-end justify-end">
        <Wave className={"fill-zinc-200 dark:fill-zinc-800"} /> 
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 place-content-center font-Rubik h-full px-8"
      >
        <div class="flex flex-col p-4 gap-y-4 justify-center">
          <h1
            class="text-3xl sm:text-5xl lg:text-7xl font-bold animate-blurred-fade-in pt-4"
          >
            {t("about-hero-title")}
          </h1>
          <p class="animate-fade-in-up text-sm md:text-lg">
            {t("about-hero-text")}
          </p>
        </div>
        <div class="flex py-12 justify-center items-center h-full">
          <IlustrationPerson />
        </div>
      </div>
    </section>
    <section class="bg-zinc-200 dark:bg-zinc-800 h-max">
      <div class="p-4">
        <h2 class="text-6xl font-Rubik font-bold text-center">
          {t("nuestra-historia-title")}
        </h2>
        <div class="h-full">
         {
          historyData?.map((history) => {
            return (
              <CardInfo
              text={history.content}
              title={history.title}
              img={history.img_url}
              alt={history.img_alt}
              />
            )
          })
         }
        </div>
      </div>
      <div
        class="absolute bottom-0 bg-white/20 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div
        class="absolute right-0 bottom-0 bg-yellow-400/10 h-96 w-96 rounded-full blur-3xl"
      >
      </div>
      <div class="w-full border-t border-b border-red-500 bg-zinc-200 dark:bg-zinc-900">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("valores-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <SelectOption lang={lang} client:load />
      </div>
    </section>
    <section class="relative bg-zinc-200 dark:bg-zinc-800 pt-10">
      <div class="w-full border-t border-b border-red-500 bg-zinc-200 dark:bg-zinc-900">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("objectivos-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            objetivesData?.map(objetive => {
              return (
                <Objectives
                title={objetive.title}
                text={objetive.text}
                >
                  {objetive.icon}
                </Objectives>
              )
            })
          }
        </div>
      </div>
      <div class="w-full border-t border-b border-red-500 bg-zinc-200 dark:bg-zinc-900">
        <h3 class="font-Rubik text-5xl text-center font-bold py-4">
          {t("nuestro-equipo-title")}
        </h3>
      </div>
      <div class="h-full py-8 bg-black/10 p-8">
        <InfoTeacher lang={"Es"} client:load />
      </div>
    </section>
    <LikePage page="sobre-nosotros"/>
  </main>
  <Footer />
</Layout>
