---
import { ViewTransitions } from "astro:transitions";
import MarkDownNav from "./../components/MarkDownNav.astro";
import { getLangFromUrl } from "../i18n/utils";
import SpeedInsights from "@vercel/speed-insights/astro";
import {SEO} from "astro-seo"
const url = Astro.url;
const lang = getLangFromUrl(url);
const { pageTitle, icon = "/imgs/docs.png", data } = Astro.props;
import "./../styles/global.css";
import NavLinkDocs from "../components/docs/NavLinkDocs.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import ChangeLanguage from "../components/ChangeLanguaje";
console.log(data);

---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="canonical"
      href="https://unidad-educativa-fiscal-pichincha.vercel.app"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <SEO
    title={pageTitle || data.title}
    description={data ? data.description : ""}
    openGraph={{
      basic: {
        title: data?.title || "",
        type: "website",
        image: data?.image?.url || "/"
      }
    }}
    />
    <SpeedInsights />
    <ViewTransitions />
  </head>
  <body class="grid-layout bg-white dark:bg-zinc-950 h-full">
    <MarkDownNav lang={lang} />
    <aside class="hidden md:block bg-zinc-100 dark:bg-zinc-900 p-4 sticky [grid-area:aside]">
      <NavLinkDocs />
    </aside>
    <main
      class="bg-white dark:bg-zinc-950 overflow-y-auto py-8 px-2 w-full md:w-3/5 mx-auto container [grid-area:main]"
    >
      <slot />
    </main>
    <div class="h-max w-max fixed bottom-0 right-0 z-10 flex items-end">
      <div class="flex h-10 w-max m-4 gap-2 list-none">
        <ThemeIcon />
        <ChangeLanguage lang={lang} url={false} thin></ChangeLanguage>
      </div>
    </div>
  </body><style>
    aside {
      height: calc(100vh - 5rem);
      top: 5em;
    }
  </style>
</html>
